# The private key used by the Approval Callback Service must be the private key that corresponds to the public key uploaded when creating the API Key.
approvalCallbackServicePrivateKey: MIIJRQIBA*******DtGRBdennqu8g95jcrMxCUhsifVgzP6vUyg==
# Use the export-public-key command of the API Co-Signer CLI to export the API Co-Signer's public key.
coSignerPubKey: MIICI****QuTOTECAwEAAQ==